.text{
    position: absolute;
}

/* Base styles */
.card {
    transition: transform 0.3s ease;
  }
  .card:hover {
    transform: scale(1.03);
  }
  .allcat
  {
    
  }
  
  @media (min-width:768px  ) and (max-width: 1000px) {
.foont{
  font-size: 14px;
}
.btn1{
  width: auto;
  height: 30px;
  text-align: center;
  font-size: 10px;
  margin-bottom: 10px !important;
}
.cardimage {
  width: 100%;
  max-width: 300px;
  margin: auto;
}
.cardBody{
  max-height: 60px !important;
}
.cardfont{
  font-size: 1rem !important;
}


  }
  

   /* For small tablets and large phones */
  @media (min-width: 577px) and (max-width: 767px) {
    .mySwiper1 .swiper-slide {
      width: 90% !important; 
    }
  
    .foont{
      font-size: 12px !important;
    }
    .btn1{
      width: auto;
      height: 30px;
      text-align: center;
      font-size: 10px;
      padding-bottom: 10px !important;
    }
     img{
    height: 200px !important;
    }
    .cardtotal{
      position: relative;
      flex-direction: column;
      
    }
  }


  
  
  /* For small phones */
  @media screen and  (max-width: 576px) {
    .mySwiper1 .swiper-slide {
      width: 100% !important;
    }
  
    .card-title {
      font-size: 40px;
    }
  

    img{
      height: 200px !important;
      }
      .foont{
        font-size: 12px !important;
      }
      .btn1{
        width: auto;
        height: 30px;
        text-align: center;
        font-size: 10px;
        padding-bottom: 10px !important;
      }
      .cardtotal {
        display: flex;
        flex-direction: row;
        overflow-x: auto;
      }
      
      
  }
  /* @media (min-width: 767px) and (max-width: 920px) {
    .cardfont{
    font-size: 1rem !important;
    }

  } */
